#
{% for item in ipsec_connections %}
{% if 'psk' in ipsec_connections[item] %}
{{ ansible_default_ipv4.address }} {{ ipsec_connections[item].right }}: PSK "{{ ipsec_connections[item].psk }}"
{% endif %}
{% endfor %}
